**.iml
**/target
*.iml
*~
.DS_Store
.mvn/wrapper/maven-wrapper.jar
/*.exe
/*.jar
/*/target
/.idea
/.mvn/wrapper/maven-wrapper.jar
/apdu4j.sh
/bin/
/build/
/ext/launch4j/
/javadoc/
/lib/*.jar
/target
/version.txt
apdu4j.log/.idea
pom.xml.versionsBackup
dependency-reduced-pom.xml
