on:
  push:
    tags:
      - 'v*'
    branches:
      - master
      - next
  pull_request:
    branches:
      - master

permissions:
  contents: write

name: Build robot

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        java: [ 11, 17, 21 ]
    name: Java ${{ matrix.java }} build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # To make git describe give the intended output
          fetch-tags: true
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
      - name: Set SSH key
        if: github.event_name != 'pull_request'
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}
      - name: Add known host key
        if: github.event_name != 'pull_request'
        run: ssh-keyscan mvn.javacard.pro >> ~/.ssh/known_hosts
      - name: Package
        run: ./mvnw --no-transfer-progress -P exe -T1C -U -B clean verify
      - name: Release
        if: startsWith(github.ref, 'refs/tags/v') && matrix.java == '11'
        id: create_release
        uses: softprops/action-gh-release@v2.2.1
        with:
            files: |
              tool/target/apdu4j.jar
              tool/target/apdu4j.exe
            fail_on_unmatched_files: true
            body: Release ${{ github.ref_name }}
            prerelease: true # manually promoted
      - name: Deploy package
        if: matrix.java == '11' && ( github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/v') )
        run: ./mvnw --no-transfer-progress -T1C -B deploy
